* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #797978;
}





#text{
     margin: 25px;
    font-size: 20px;
    color: rgb(19, 6, 6);
    border: 5px solid grey;
    background-color: grey;
}

.container {    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30vh;
    background-color: #797978;
    height: 65vh;
    /* width: 100%; */

    
  width: 100%;
  max-width: 1200px; /* Optional maximum width */
  margin: 0 auto;
}

p {
    font-size: 30px;
    color: black;
    margin: 10px;
    
}

h3{
    font-size: 25px;
    color: black;
    margin: 15px;
}
h1 {
    font-size: 40px;
    color: black;
    margin: 20px;
}
#BMIForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    height: 600px;
}

#height, #weight {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button{
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
